.vscode/
.idea/
*.swp

venv/
env/

.env

__pycache__/
*.py[cod]
*.pyo
*.pyd

db.sqlite3
*.sqlite3

*.log
logs/

migrations/__pycache__/
migrations/*.pyc

.DS_Store
Thumbs.db

credentials/service-account.json
